@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Bodoni Moda", serif;
}

@layer base {
  body {
    @apply bg-rose-50 text-slate-900 antialiased overflow-hidden;
  }
}

@layer utilities {
  .text-gradient-fancy {
    color: white; /* Fallback */
  }
  @supports (-webkit-background-clip: text) or (background-clip: text) {
    .text-gradient-fancy {
      background-image: linear-gradient(to right, var(--tw-gradient-from), var(--tw-gradient-to));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }
}
